.list {
  color: aliceblue;
  border: 2px solid #777;
  width: 60%;
  margin: 0 auto;

  /* margin-top: 2rem; */
  margin-bottom: 2rem;
}
@media screen and (max-width: 1400px) {
  .list {
    width: 80%;
  }
}
