.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  /* pointer-events: none; */
}
.modal {
  background-color: #333;
  width: 50%;
  margin: 0 auto;
  margin-top: 5rem;
  color: white;
  z-index: 1111;
  position: relative;
  padding: 1rem;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* border: 1px solid red; */
}
@media screen and (max-width:800px) {
    .modal{
      width: 80%;
    }
}
.navbar {
  display: flex;
  justify-content: flex-end;
}
.colorPickerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.colorPicker {
  vertical-align: middle;
}

.text {
  font-size: 1.1rem;
  font-weight: 500;
}
.editText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.labelText {
  align-self: stretch;
  background-color: gray;
  margin: 0.3rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: white;
}
.labelText:focus {
  outline: auto;
}
.closeButton {
  cursor: pointer;
  color: red;
  font-weight: 500;
  font-size: 1.5rem;
}
.closeButton:hover {
  color: rgb(178, 0, 0);
}
.buttons {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}
button {
  outline: none;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: 1px solid #666;
}
button:hover {
  background-color: #111;
}
button:disabled {
  cursor: not-allowed;
  color: #666;
}
button:disabled:hover {
  background-color: #333;
}
@media screen and (max-width: 415px) {
  .buttons {
    grid-template-columns: 1fr;
  }
}
